CoverageWebServicePort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:types="http://webservices.cadi.tele2.es/tns"
    xmlns:ugis="http://webservices.cadi.tele2.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CoverageWebService"
	targetNamespace="http://webservices.cadi.tele2.es">

	<wsdl:types>
        <xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://webservices.cadi.tele2.es/tns"
                elementFormDefault="qualified">
            <xs:import  namespace="http://webservices.cadi.tele2.es/tns" schemaLocation="Request.xsd" />
            <xs:import  namespace="http://webservices.cadi.tele2.es/tns" schemaLocation="Response.xsd" />
            <xs:import  namespace="http://webservices.cadi.tele2.es/tns" schemaLocation="RequestById.xsd" />
            <xs:import  namespace="http://webservices.cadi.tele2.es/tns" schemaLocation="ResponseById.xsd" />

        </xs:schema>

	</wsdl:types>

	<wsdl:message name="CoverageWebService_getService">
		<wsdl:part name="getService" type="types:CoverageRequestType"/>
	</wsdl:message>
	<wsdl:message name="CoverageWebService_getServiceById">
		<wsdl:part name="getServiceById" type="types:CoverageRequestByIdType"/>
	</wsdl:message>
	<wsdl:message name="CoverageWebService_getResponse">
		<wsdl:part name="getResponse" type="types:CoverageResponseType"/>
	</wsdl:message>
	<wsdl:message name="CoverageWebService_getResponseById">
		<wsdl:part name="getResponseById" type="types:CoverageResponseByIdType"/>
	</wsdl:message>
	<wsdl:portType name="CoverageWebService">
		<wsdl:operation name="getService" parameterOrder="getService">
			<wsdl:input message="ugis:CoverageWebService_getService"/>
			<wsdl:output message="ugis:CoverageWebService_getResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getServiceById" parameterOrder="getServiceById">
			<wsdl:input message="ugis:CoverageWebService_getServiceById"/>
			<wsdl:output message="ugis:CoverageWebService_getResponseById"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CoverageWebServiceBinding" type="ugis:CoverageWebService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getService">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getServiceById">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CoverageWebService">
		<wsdl:port binding="ugis:CoverageWebServiceBinding" name="CoverageWebServicePort">
			<soap:address location="http://localhost:8080"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
